@import '~styles/spacing.css';

.mainBlock {
  grid-area: mainBlock;

  display: flex;
  align-items: center;
  padding: var(--space-m);
  margin: 20px 0;
}

.imgWrapp {
  display: flex;
  align-items: center;
}

.img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
}

.birdName {
  padding-left: var(--space-m);
}

.audio {
  flex-grow: 1;
  padding: 0 var(--space-l);
}

@media only screen and (max-width: 600px) {
  .audio {
    width: 100%;
    padding: var(--space-xs);
  }

  .img {
    width: 100px;
    height: 70px;
  }

  .head {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
  }

  .mainBlock {
    flex-direction: column;
    padding: var(--space-xs);
  }
}
