@import '~styles/spacing.css';

.mainBlock {
  grid-area: mainBlock;

  display: flex;
  align-items: center;
  padding: var(--space-m);
  margin: 20px 0;
}

.imgWrapp {
  display: flex;
  align-items: center;
}

.img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
}

.birdName {
  padding-left: var(--space-m);
}

.audio {
  flex-grow: 1;
  padding: 0 var(--space-l);
}
