@import '~styles/spacing.css';

.steps {
  grid-area: steps;
  display: flex;
  justify-content: center;
}

.step {
  padding: var(--space-s) var(--space-l);
  border-radius: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  border-radius: 4px 0 0 4px;
}

.last {
  border-radius: 0 4px 4px 0;
}
