@import '~styles/spacing.css';

.steps {
  grid-area: steps;
  width: 100%;
}

.stepper {
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobileStepper {
    width: 100%;
  }

  .leftButton {
    opacity: 0;
  }
}
