@import '~styles/spacing.css';

.description {
  grid-area: description;

  padding: var(--space-s) var(--space-m);
  min-height: 310px;
}

.head {
  display: flex;
  align-items: center;
  padding: 0 var(--space-s);
}

.imgWrapp {
  display: flex;
  align-items: center;
}

.img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.birdName,
.species {
  padding-left: var(--space-m);
}

.species {
  margin: 0;
}

.audio {
  flex-grow: 1;
  padding: 0 var(--space-m);
}

@media only screen and (max-width: 860px) {
  .description {
    margin: 20px 0;
  }
}
