@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
@import '~styles/spacing.css';

.logoText {
  font-size: 3em;
  font-family: 'Sonsie One', cursive;
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-s) 0;
}
