@import '~styles/spacing.css';

.audioBlock {
  display: flex;
  align-items: center;
}

.audioDuration {
  padding: 0 var(--space-s);
  margin: 0;
  margin-left: var(--space-m);
}

.button {
  padding: var(--space-s);
  margin-right: var(--space-m);
}
