.App {
  display: grid;
  grid-template-areas:
    '. logo . score .'
    '. . . . .'
    '. steps steps steps .';

  grid-template-rows: auto 5px auto;
  grid-template-columns: 5px 1fr auto 1fr 5px;
}
