@import '~styles/spacing.css';

.header {
  padding: 0 var(--space-s);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainContent {
  display: grid;
  grid-template-areas:
    '. steps steps steps .'
    '. . . . . '
    '. mainBlock mainBlock mainBlock . '
    '. . . . . '
    '. options . description .'
    '. finish finish finish . '
    '. finish finish finish . '
    '. finish finish finish . '
    '. . . . . '
    '. nextStepButton nextStepButton nextStepButton .';

  grid-template-columns: 30px 1fr 20px 1fr 30px;
}
